# Chapitre I, exercice 4 : Etude préliminaire du CAC 40

## Importation des données

### Option 1 : à partir d'un fichier de données

#### Source : Datastream

Datastream est une base de données payante accessible à la BU Dauphine. Elle présente l'avantage de fournir des données complètes. Le séparateur de décimale est le point "."

In [7]:
CAC40_df_1<-read.csv2("./data/cac40_datastream.csv",dec=".",col.names = c('Date','CAC40'))
head(CAC40_df_1)

  Date       CAC40
1 09/07/1987 1482.89
2 10/07/1987 1490.42
3 13/07/1987 1490.42
4 14/07/1987 1490.42
5 15/07/1987 1490.42
6 16/07/1987 1474.22

On convertit la colonne Date au format date Year/Month/Day

In [8]:
CAC40_df_1$Date<-as.Date(CAC40_df_1$Date,format = "%d/%m/%Y")
tail(CAC40_df_1$Date)


#library(lubridate)
#CAC40_df_1$Date<-dmy(CAC40_df_1$Date)

[1] "2023-06-19" "2023-06-20" "2023-06-21" "2023-06-22" "2023-06-23"
[6] "2023-06-26"

In [ ]:
On vérifie qu'il n'y a pas de données manquantes

In [9]:
sapply(CAC40_df_1,function(x) sum(is.na(x)))

 Date CAC40
    0     0

Les données commencent en "1987-07-09". On décide d'étudier la série à partir de "1990-01-01" en partie pour avoir le même échantillon que les autres sources de données.

In [10]:
CAC40_df_1<-CAC40_df_1[CAC40_df_1$Date>="1990-01-01",]

#### Source : fichier csv provenant de Yahoo Finance
Les données de Yahoo contiennent des données manquantes représentées par le terme ''null''. Avec R, "null" n'est pas le symbole habituel des données manquantes qui est "na". Dans l'importation des données à partir de la fonction read.csv, on ajoute l'option na.strings=c("null") pour lui indiquer que le symbole des données manquantes dans le fichier ^FCHI.csv.

In [12]:
library(readr)
CAC40_df_2<-read.csv("C:\\users\\ylepen\\Documents\\COURS dauphine\\econometrie II\\data exercice\\^FCHI.csv",na.strings=c("null"))
class(CAC40_df_2)
str(CAC40_df_2)

[1] "data.frame"

'data.frame':	8605 obs. of  7 variables:
 $ Date     : Factor w/ 8605 levels "1990-03-01","1990-03-02",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Open     : num  1836 1831 1866 1869 1874 ...
 $ High     : num  1838 1860 1874 1875 1881 ...
 $ Low      : num  1827 1831 1862 1866 1874 ...
 $ Close    : num  1832 1860 1874 1872 1880 ...
 $ Adj.Close: num  1832 1860 1874 1872 1880 ...
 $ Volume   : int  0 0 0 0 0 0 0 0 0 0 ...

Décompte des données manquantes :

In [13]:
sapply(CAC40_df_2,function(x) sum(is.na(x)))

     Date      Open      High       Low     Close Adj.Close    Volume
        0       147       147       147       147       147       147

Il existe plusieurs manières de gérer les données manquantes. On décide ici de supprimer les dates ayant des données manquantes car elles peuvent empécher l'éxécution de certaines fonctions de R.

In [ ]:
CAC40_df_2<-na.omit(CAC40_df_2)
sapply(CAC40_df_2,function(x) sum(is.na(x)))