In [1]:
CAC40_df_1<-read.csv2("C:\\users\\ylepen\\Documents\\COURS dauphine\\econometrie II\\data exercice\\cac40_datastream.csv",dec=".",col.names = c('Date','CAC40'))

In [2]:
head(CAC40_df_1)

  Date       CAC40
1 09/07/1987 1482.89
2 10/07/1987 1490.42
3 13/07/1987 1490.42
4 14/07/1987 1490.42
5 15/07/1987 1490.42
6 16/07/1987 1474.22

In [ ]:
On convertit la colonne Date au format date Year/Month/Day

```{r}
CAC40_df_1$Date<-as.Date(CAC40_df_1$Date,format = "%d/%m/%Y")
tail(CAC40_df_1$Date)


#library(lubridate)
#CAC40_df_1$Date<-dmy(CAC40_df_1$Date)

```

On vérifie qu'il n'y a pas de données manquantes